  body{
  //background: #000;
}
#loading {
height: auto;
position: absolute;
left: 35%;
top: 30%;
padding: 2px;
z-index: -1;
}
#login{
	margin-top: 150px;
}
.page-on-load {
  background: #000;
}
.btn + .btn {
   margin-left: 0px; 
}
	