<div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
	</div>
	<!-- END HEADER -->
	<div class="clearfix">
	</div>

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">			
		</div>
		<!-- END SIDEBAR -->

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN STYLE CUSTOMIZER(optional) -->
				<!-- <div data-ng-include="'tpl/theme-panel.html'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm">				
				</div> -->


						<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#/dashboard.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">Dashboard</a>
						</li>
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover="" data-delay="1000" data-close-others="true">
							Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
									<i class="icon-user"></i> New User </a>
								</li>
								<li>
									<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
									<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
									</a>
								</li>
								<li>
									<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
									<i class="icon-basket"></i> New order </a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
									<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
									</a>
								</li>
								<li>
									<a href="http://www.keenthemes.com/preview/metronic/theme/templates/admin/angularjs/views/dashboard.html#">
									<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- END CONTENT -->
		
		<!-- BEGIN QUICK SIDEBAR -->
		<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
		<div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
		<!-- END QUICK SIDEBAR -->
	</div>